<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teach.me</title>
  <link  rel="icon"   href="assets/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style/styleLoginEstudiantes.css">
</head>
<body>
  <!-- NAVIGATION -->
  
  <a href="/logout">Cerrar Sesión</a>
 
    <h1>  Bienvenido Docente!!</h1>
</body>
</html>