<!DOCTYPE html>
<html>
<head>
  <title>Registro de Usuarios</title>
</head>
<body>
  <header><button>Salir</button></header>
  <div class="login-page">
  <h1 class="Titulo">Registro de Usuarios</h1>
  <br>
  <div class="form">
    <form class="login-form">
      <label class="label">Nombre Completo:</label>
      <input type="text" placeholder="Nombre de usuario"/>
      <label class="label">CI:</label>
      <input type="text" placeholder="# de CI"/>
      <label class="label">E-mail:</label>
      <input type="text" placeholder="Correo electronico"/>
      <label class="label">Nombre de Usuario:</label>
      <input type="text" placeholder="Nombre del usuario"/>
      <label class="label">Contraseña:</label>
      <input type="password" placeholder="Contrasena"/>
      <label class="label">Rol:</label>
      <select>
            <option value="Administrador">Administrador</option>
            <option value="Docente">Docente</option>
            <option value="Estudiante">Estudiante</option>
      </select>
      <button>Registrar</button>
    </form>
  </div>
</div>
</body>
</html>