<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teach.me</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/styleLogin.css">
</head>
<body>
  <!-- NAVIGATION -->
  <% if (!user) { %>
  <a href="/signinEstudiantes">   Estudiantes</a>
  <a href="/signinDocentes">   Docentes</a>
  <a href="/signinAdministradores">   Administradores</a>
  <!--
<a href="/signup">Signup</a>
  -->
  
  <% } else { %>
  <a href="/logout">Logout</a>
  <a href="/profile">Profle</a>
  <% } %>

  <%if (signinMessage) {%>
    <p><%= signinMessage %></p>
  <% } %>
  <%if (signupMessage) {%>
    <p><%= signupMessage %></p>
  <% } %>

  <%- body %>
</body>
</html>
